<div class="container">
  <div class="flex-elements">
    <div class="dwarf-card p-2 m-2">

      <h1><%= @dwarf.name %>&nbsp&nbsp&nbsp<%= @dwarf.age %>&nbsp&nbsp&nbsp<span class="score"><%= @score %>&nbsp<i class="fa-solid fa-star"></i><span></h1>
      <p><%= @dwarf.price %>€ / jour</p>
      <%  if @dwarf.photo.attached?  %>
        <%= cl_image_tag @dwarf.photo.key, height: 300, crop: :fill %>
      <% end %>
      <p class="mt-3"><%= @dwarf.description %></p>
    </div>
    <div>

    <% if user_signed_in? %>
      <% if @dwarf.user != current_user %>
        <div id="rental-form">
          <%= simple_form_for [@dwarf, @rental], {data: { controller: "datepicker",  datepicker_reserved_dates_value: @reserved, datepicker_price_value: @dwarf.price, action: "change->datepicker#getprice"}} do |f| %>
          <p>Dates de réservation</p>
            <%= f.input :rental_begin,
                        as: :string,
                        error: "Vous devez choisir une date pour passer du temps avec ce nain",
                        label: "du",
                        input_html: { data: {datepicker_target: "datebegin"}} %>
             <%= f.input :rental_end,
                         as: :string,
                         error: "",
                         label: "au",
                         input_html: { data: {datepicker_target: "dateend" }} %>
            <p data-datepicker-target="priceupdated"><%= @dwarf.price%> €</p>
            <%= f.submit "Réserver ce nain", class:"submit-button"%>
          <% end %>
          </div>
          <div class="mt-4" style="width: 100%; height: 350px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          <% else %>
          <div class="mt-4" style="width: 400px; height: 450px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <% end %>
        <% else %>
        <div id="log-ask">
          <%= link_to "Connectez-vous", new_user_session_path, class:"ask-log-button" %>
          <p>ou</p>
          <%= link_to "inscrivez-vous", new_user_registration_path, class:"ask-log-button" %>
          <p>pour réserver</p>
        </div>
          <div class="mt-4" style="width: 100%; height: 350px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <% end %>
  </div>
</div>
<div class="container">
    <% @dwarf.reviews.each do |review| %>
        <div class="dwarf-card reviews-show">
        <h3>Comentaire de <b> <%= review.user.user_name %>&nbsp&nbsp</b><i class="fa-solid fa-comment"></i></h3>
        <p><i class="fa-solid fa-quote-left"></i></i>  <%= review.content %>  <i class="fa-solid fa-quote-right"></i></p>
        <p >Note: <span class="score"><%= review.score %><i class="fa-solid fa-star"></i></p></span>
      </div>
    <% end %>

</div>
