<div class="container">
<div>
  <h1><%= @dwarf.name %></h1>
  <p><%= @dwarf.description %></p>
  <p><%=@dwarf.age%></p>
</div>

<%# <div class="" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=  cl_image_path @dwarf.photo.key, height: 300, crop: :fill if @dwarf.photo.attached? %>


<%= simple_form_for [@dwarf, @rental] do |f| %>
  <%= f.input  :rental_begin%>
  <%= f.input  :rental_end%>
  <%= f.submit %>

<% end %>

</div>
