<div class="teste">
      <h1><%= @dwarf.name %> | <%= @dwarf.age %>ans <span class="score"><%= @score %>&nbsp<i class="fa-solid fa-star"></i><span></h1>
      <p class="price"><%= @dwarf.price %>€ / jour</p>

  <div class="flex-elements-show">

      <%  if @dwarf.photo.attached?  %>
        <%= cl_image_tag @dwarf.photo.key, height: 300, crop: :fill %>
      <% end %>

      <div class="description">
        <h3>Description du nain :</h3>
        <p><%= @dwarf.description %></p>
      </div>

    <% if user_signed_in? %>
      <% if @dwarf.user != current_user %>

      <div id="rental-form">
          <%= simple_form_for [@dwarf, @rental], {data: { controller: "datepicker",  datepicker_reserved_dates_value: @reserved, datepicker_price_value: @dwarf.price, action: "change->datepicker#getprice"}} do |f| %>
            <p>Dates de réservation</p>
            <%= f.input :rental_begin,
                        as: :string,
                        error: "Vous devez choisir une date pour passer du temps avec ce nain",
                        label: "du",
                        input_html: { data: {datepicker_target: "datebegin"}} %>
             <%= f.input :rental_end,
                         as: :string,
                         error: "",
                         label: "au",
                         input_html: { data: {datepicker_target: "dateend" }} %>
            <p data-datepicker-target="priceupdated"><%= @dwarf.price%> €</p>
            <%= f.submit "Réserver ce nain", class:"submit-button"%>
            <p class="condition">Aucun montant ne vous sera débité pour le moment. Le propriétaire devra valider votre demande de réservation</p>
      <% end %>
      </div>


  </div>

      <div class="mt-4 mb-4 mr-4 map-show" style="width: 72%; height: 400px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <% else %>
      <div class="mt-4" style="width: 400px; height: 450px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <% end %>
      <% else %>
        <div id="log-ask">
          <%= link_to "Connectez-vous", new_user_session_path, class:"ask-log-button" %>
          <p>ou</p>
          <%= link_to "inscrivez-vous", new_user_registration_path, class:"ask-log-button" %>
          <p>pour réserver</p>
        </div>
          <div class="mt-4" style="width: 100%; height: 350px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      <% end %>

</div>
<div class="container-dwarves">
    <% @dwarf.reviews.each do |review| %>
        <div class="dwarf-card reviews-show">
        <h3>Comentaire de <b> <%= review.user.user_name %>&nbsp&nbsp</b><i class="fa-solid fa-comment"></i></h3>
        <p><i class="fa-solid fa-quote-left"></i></i>  <%= review.content %>  <i class="fa-solid fa-quote-right"></i></p>
        <p >Note: <span class="score"><%= review.score %><i class="fa-solid fa-star"></i></p></span>
      </div>
    <% end %>

<% if user_signed_in? %>
      <% if @dwarf.user == current_user %>
      <button class="button-show btn btn-green">
          <%= link_to "Modifie ton nain", edit_dwarf_path(@dwarf)%>
      </button>
      <button class="button-show btn btn-pink">
          <%= link_to "Relâche ton nain", destroy_dwarf_path(@dwarf), data: { turbo_method: "DELETE", turbo_confirm: "Es-tu sûr(e) de vouloir remettre ton nain en liberté ?"} %>
      </button>
<% end %>
<% end %>
</div>

</div>
