<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= "navbar-lewagon-home" if action_name == "home" %>">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h1 class="gnome-font"> <%= image_tag "logo.png", id:"logo" %>
  <span class="nain-letter">N</span>
  <span class="nain-letter">a</span>
  <span class="nain-letter">i</span>
  <span class="nain-letter">n</span>
  <span class="other-letter">P</span>
  <span class="other-letter">o</span>
  <span class="other-letter">r</span>
  <span class="other-letter">t</span>
  <span class="other-letter">e</span>
  <span class="other-letter">Q</span>
  <span class="other-letter">u</span>
  <span class="other-letter">o</span>
  <span class="other-letter">i</span>
      </h1>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Trouver un nain", dwarves_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Ajoutez votre nain", new_dwarf_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "basic_profil", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%end%>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <!--li class="nav-item"-->
            <%= link_to "Login", new_user_session_path, class: "nav-link"%>
          <!--/li-->
        <% end %>
      </ul>
    </div>
  </div>
</div>
