<div>
<h1>Vos nains réservés</h1>

 <% @rented_dwarves.each do |rented_dwarf| %>
      <div class="ligne">
        <div class="rented-date ">
            <h2 ><%= rented_dwarf.name %></h2>
            <h3 > - proposé par <%= rented_dwarf.user.user_name %></h2>
            <div >
            <%  rentals = rented_dwarf.rentals %>
            <% rentals.each do |rental| %>
            <div class="d-flex w-100 col-6">

            <p>réservé du <%=rental.rental_begin  %> au <%= rental.rental_end %></p>

      <%= link_to "annuler", destroy_path(rental), data: { turbo_method: "DELETE" } %>




            <button  class="<%= style_for_status(rental.status)%> button-rental"><%= rental.status %></button>
            </div>

            <% end %>

            </div>

        </div>

        <%= link_to "Voir ce nain", dwarf_path(rented_dwarf), class:"btn btn-primary button-rental" %>
        </div>
        <% end %>
</div>

<div>
<h1>Vos nains en location</h1>
 <% @dwarves.each do |dwarf| %>
      <div class="ligne">
        <h2><%= dwarf.name %></h2>
        <%  rentals = dwarf.rentals %>

        <% rentals.each do |rental| %>
        <div >
        <%= rental.rental_begin %>
        <%= rental.rental_end %>

        <%= link_to "accepter", accept_path(rental), data: { turbo_method: "PATCH" } %>
        <%= link_to "refuser", refuse_path(rental), data: { turbo_method: "PATCH" } %>


          <button class="<%= style_for_status(rental.status)%>"> <%=rental.status %></p>

        </div>
        <% end %>

        <%= link_to "Voir ce nain", dwarf_path(dwarf), class:"btn btn-primary p-2 m-2" %>
        </div>
        <% end %>
</div>


<div class="row">
 <% @dwarves.each do |dwarf| %>
      <div class="card-dwarf m-3 col-2">
        <div id="dwarf-img">
          <%= cl_image_tag dwarf.photo.key, height: 200, width: 200, crop: :fill, class:"dwarf-img"%>
        </div>
        <h2 class="p-1"><%= dwarf.name %></h2>
        <h3 class="p-1"><%= dwarf.age %></h3>
        <p class="p-1"><%= dwarf.description %></p>
        <%= link_to "Voir ce nain", dwarf_path(dwarf), class:"btn btn-primary p-2 m-2" %>
        </div>
        <% end %>
</div>
