<div>
  <h1>Vos nains réservés</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nain</th>
        <th scope="col">Propriétaire</th>
        <th scope="col">Date</th>
        <th scope="col">Annulation</th>
        <th scope="col">Statut</th>
        <th scope="col">Commentaire</th>
      </tr>
    </thead>
    <tbody>
      <% @rented_dwarves.each do |rented_dwarf| %>
        <tr>
          <td>
            <%= link_to dwarf_path(rented_dwarf) do %>
              <%= rented_dwarf.name %>
            <% end %>
          </td>
          <td>
            <%= rented_dwarf.user.user_name %>
          </td>
          <%  rentals = rented_dwarf.rentals.where(user_id: current_user.id) %>
          <td>

            <% rentals.each do |rental| %>
              <%=rental.rental_begin  %><%= rental.rental_end %></p>
            <% end %>
          </td>
          <td>
            <% rentals.each do |rental| %>
              <%= link_to "annuler", destroy_path(rental), class: "btn btn-danger", data: { turbo_method: "DELETE" } %><br>
            <% end %>
          </td>
          <td>
            <% rentals.each do |rental| %>
              <button  class="<%= style_for_status(rental.status)%> button-rental"><%= rental.status %></button><br>
            <% end %>
          </td>
          <td>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h1>Vos nains en location</h1>
  <% @dwarves.each do |dwarf| %>
    <div class="ligne">
      <h2><%= dwarf.name %></h2>
      <%  rentals = dwarf.rentals %>
      <% rentals.each do |rental| %>
        <div >
          <%= rental.rental_begin %>
          <%= rental.rental_end %>
          <%= link_to "accepter", accept_path(rental), data: { turbo_method: "PATCH" } %>
          <%= link_to "refuser", refuse_path(rental), data: { turbo_method: "PATCH" } %>
          <button class="<%= style_for_status(rental.status)%>"> <%=rental.status %></button>
        </div>
      <% end %>
      <%= link_to "Voir ce nain", dwarf_path(dwarf), class:"btn btn-primary p-2 m-2" %>
    </div>
  <% end %>
</div>


<div class="row">
  <% @dwarves.each do |dwarf| %>
    <div class="card-dwarf m-3 col-2">
      <div id="dwarf-img">
        <%= cl_image_tag dwarf.photo.key, height: 200, width: 200, crop: :fill, class:"dwarf-img"%>
      </div>
      <h2 class="p-1"><%= dwarf.name %></h2>
      <h3 class="p-1"><%= dwarf.age %></h3>
      <p class="p-1"><%= dwarf.description %></p>
      <%= link_to "Voir ce nain", dwarf_path(dwarf), class:"btn btn-primary p-2 m-2" %>
    </div>
  <% end %>
</div>
